@helper CSS_snapshot_css(string cssFile)
{
    var fileName = "../../public/stylesheets/snapshot/css/" + @cssFile + ".css";
    <link rel="stylesheet" type="text/css" href="@Href(fileName)"/>
}

@helper Link(string text, string url, string title = "")
{
    <a href="@url" title="@title">@text</a>    
}
@helper jQuery()
{
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js'></script>    
}

@helper Script(string scriptFile) {
    <script type="text/javascript" src="../../public/javascripts/@scriptFile"></script>
}