@{
    ViewBag.Title = "_HomeLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This is the Home Layout!</h2>

<h4>Starting the Render Body</h4>

@RenderBody()

@RenderSection("instructions")

<h4>Finishing the Render Body</h4>

<h4> Home Layout says: @DateTime.Now</h4>
@{System.Threading.Thread.Sleep(1000);}

