<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Users" 
			 connectionString="Data Source=.\App_Data\Users_Test.sdf"
			 providerName="System.Data.SqlServerCE.4.0"/>
    
    <add name="LearnMVC3"
			 connectionString="Data Source=C:\MyStuff\WebDev\Dropbox\Tekpub_MVC3\LearnMVC3\LearnMVC3\App_Data\LearnMVC3.Models.LearnMVC3DBContext.sdf"
			 providerName="System.Data.SqlServerCE.4.0"/>
    
  </connectionStrings>
</configuration>