@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {

        $("#searchForm").submit(function () {
            var value = $("#search").val();
            alert("You're looking for " + value);

            $.getJSON("/ProductionsV2", { query: value }, function (data) {
                alert(data);
            });
            return false;
        });




    });


</script>

<h2>LearnMVC3 Admin</h2>

<form id="searchForm">
    <label>Find: </label>
    <input type="text" id="search" />
    <input type="submit" value="Go!" />
</form>

