<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LearnMVC3"
			 providerName="System.Data.SqlServerCE.4.0"
			 connectionString="Data Source=D:\MyStuff\Personal\WebDev\DropBox\Tekpub_MVC3\LearnMVC3\LearnMVC3\App_Data\LearnMVC3.Models.LearnMVC3DBContext_Test.sdf"
			 />
	</connectionStrings>
</configuration>